#galaxyContainer {
	background: unset;
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	background-image: url("../images/milkyWay.jpg");
	background-size: cover;
	background-color: rgba(214, 21, 21, 0.1);
	position: relative;
}

.galaxyParagraph {
	padding: 15px 10px 15px 10px;
	margin: 100px 0px 100px 50px;
	width: 50vw;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 6px;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

#galaxyHeading {
	margin-left: 50px;
	margin-top: 50px;
}

@media (max-width: 800px) {
	#galaxyContainer {
		height: 1000px;
	}
	.galaxyParagraph {
		margin-right: 0px;
	}

	#galaxyHeading {
		font-size: 2em;
	}
}
