.homeDiv {
	height: 100vh;
	overflow-y: scroll;
}

.homeDiv section {
	height: 100vh;
}

.homeDiv h1:nth-of-type(1) {
	font-size: 3rem;
}

#spaceHeading {
	margin-top: 70px;
	font-size: 3rem;
	grid-row: 1/2;
	grid-column: 1/4;
}

#spaceCraft {
	height: 1000px;
	background-color: black;
}

#spaceCraftGrid {
	margin-left: 50px;
	height: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	column-gap: 200px;
}

#spaceCraft img {
	width: 200px;
	height: 200px;
	justify-self: center;
	align-self: center;
}

#spaceCraft div {
	align-self: center;
}

#div1 {
	grid-row: 2/3;
	grid-column: 1/2;
}

#img1 {
	grid-row: 2/3;
	grid-column: 2/3;
}

#div2 {
	grid-row: 3/4;
	grid-column: 2/3;
}

#img2 {
	grid-row: 3/4;
	grid-column: 1/2;
}

#div3 {
	grid-row: 4/5;
	grid-column: 1/2;
}

#img3 {
	grid-row: 4/5;
	grid-column: 2/3;
}

#div4 {
	grid-row: 5/6;
	grid-column: 2/3;
}

#img4 {
	margin-bottom: 20px;
	grid-row: 5/6;
	grid-column: 1/2;
}

#headingContainer {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100vw;

	display: flex;
}

.blocks {
	position: relative;
}

.homeDivWrap {
	background-image: url("../images/background.jpg");
}

button.rec-dot {
	background-color: rgb(149, 7, 231);
}

button.rec-dot:active,
button.rec-dot::hover {
	box-shadow: 0 0 1px 3px rgba(219, 95, 203, 0.548);
}

@media (max-width: 800px) {
	#headingMain {
		font-size: 2em;
	}

	#spaceCraft {
		height: 2200px;
	}
	#spaceCraftGrid {
		margin-left: 80px;
		grid-template-rows: repeat(12, 1fr);
		height: 2200px;
		column-gap: 0px;
		row-gap: 120px;
		overflow: hidden;
	}

	#spaceHeading {
		margin-top: 40px;
		font-size: 2em;
		grid-column: 1/2;
		grid-row: 1/4;
	}

	#img1 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#div1 {
		grid-column: 1/2;
		grid-row: 4/5;
		width: 70vw;
	}
	#img2 {
		grid-column: 1/2;
		grid-row: 5/6;
	}

	#div2 {
		grid-column: 1/2;
		grid-row: 6/7;
	}
	#img3 {
		grid-column: 1/2;
		grid-row: 7/8;
	}

	#div3 {
		grid-column: 1/2;
		grid-row: 8/9;
	}
	#img4 {
		grid-column: 1/2;
		grid-row: 9/10;
	}

	#div4 {
		grid-column: 1/2;
		grid-row: 10/11;
	}
}
