* {
	color: white;
}

@keyframes slideDownImg {
	0% {
		/* transform: translateY(-60%); */
		opacity: 0.2;
	}

	25% {
		opacity: 0.4;
	}

	50% {
		/* transform: translateY(-20%); */
		opacity: 0.6;
	}

	75% {
		/* transform: translateY(-6%); */
		opacity: 0.8;
	}

	100% {
		/* transform: translateY(0%); */
		opacity: 1;
	}
}

@keyframes slideDownHeading {
	0% {
		/* transform: translateY(-180%); */
		opacity: 20%;
	}
	100% {
		/* transform: translateY(0); */
		opacity: 100%;
	}
}

img {
	width: 450px;
	height: 450px;
}

.planetContainer {
	display: flex;
	margin-top: 10px;
	margin-left: 20px;
}

.planetData {
	margin: 40px 20px 0px 200px;
	line-height: 1.6em;
	font-size: 1.1em;
}

.planetData p {
	margin-top: 10px;
	width: 50vw;
}

.planetData,
.planetBriefImg {
	animation: 1.7s linear 0s 1 slideDownImg;
}

.planetBriefHeading {
	margin-bottom: 10px;
	text-align: center;
	animation: 1.7s ease-in-out 0s 1 slideDownHeading;
}

@media (max-width: 1000px) {
	img {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 800px) {
	img {
		width: 200px;
		height: 200px;
	}
}
